/* ---------------------------- Estilos Generales Body ---------------------*/


.body_instalaciones{
    background-color: $color-back;


}

.header-index{

    background-color: $color-back;
}
.section-main{
    background-color: $color-back;
    
}

.main_proceso{

    background-color: $color-back;

}

.main-nosotros{
    background-color: $color-back;
}



h1,h2,h3,h4,h5,p,li,ol,ul{

    font-family: 'League Gothic', sans-serif;
}

/* ---------------------------- Estilos Generales Body ------------------------*/




