/* ---------------------------- Estilos Generales Body ---------------------*/


.body_instalaciones{
    background-color: $color-back;


}

.header-index{

    background-color: $color-back;
}
.section-main{
    background-color: $color-back;
    
}

.main_proceso{

    background-color: $color-back;

}

.main-nosotros{
    background-color: $color-back;
}

/* ---------------------------- Estilos Generales Body ------------------------*/




