/* ------------------------------Estilos Pag Instalaciones-------------------------------------------- */



/*-----------------------------  Estilos H de Instalaciones --------------------------------------- */
.instalaciones_h1{
    text-align: center;
    text-decoration: underline;
    color: rgb(248, 0, 0);
    
    }
    
    /* ------------------------------Estilos H de Instalaciones  ---------------------------------------*/
    
    
    /* ------------------------------ Estilos imagen de Instalaciones ----------------------------------- */
    

    .main-instalaciones{

  
      background-color: rgb(39, 99, 152);

   }
    
   .carrousel-inst{
     max-width: 600px ;
     max-height: 600px;
     

   }


  .carousel-item{
    img{
      max-width: 800px;
      max-height: 400px;
    }
  }
    
    .informacion-instalaciones{
     
      margin-left: $espacio-min;
      color: rgb(14, 14, 14);
    }
    
    .carousel-caption{
    
    h5{
      color: red;
      text-decoration: underline;
      
    }
    p{
      color: rgb(255, 255, 255);
    }
  }


    //TRABAJANDO CON MIXINS

    @mixin size ($separacion , $espacio) {

      padding: $separacion;
      
      margin: $espacio;
      
    }

    .carrousel-inst{
      @include size(5px,5px)

    }
    
    /* ------------------------------ FIN Estilos imagen de Instalaciones ----------------------------------- */
    
    