/* ------------------------------Estilos Pag Instalaciones-------------------------------------------- */



/*-----------------------------  Estilos H de Instalaciones --------------------------------------- */
.instalaciones_h1{
    text-align: center;
    text-decoration: underline;
    
    }
    
    /* ------------------------------Estilos H de Instalaciones  ---------------------------------------*/
    
    
    /* ------------------------------ Estilos imagen de Instalaciones ----------------------------------- */
    
    
    
    .contenedor-cards{
        display: flex;
        flex-direction:column;
        align-items: end;
        margin-right: 15px;
        
        
        
    }
    
    .card{
      margin: 10px;
    
        
    }
    
    
    
    /* ------------------------------ FIN Estilos imagen de Instalaciones ----------------------------------- */
    
    