/* --------------------------- Estilos barra de navegación ------------------- */

.navbar{
    padding-bottom:5px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

/* ---------------------------FIN  Estilos barra de navegación ------------------- */
