/* -------------------------------Estilos Pag Nuevo_proceso------------------------------------------------- */

/* -------------------- Estilos H de nuevo procesos ---------------------- -*/
.procesos_h1{
    
    text-decoration: underline;
    color: rgb(255, 12, 12);
    font-size: 35px; 
    margin-top: 0;
    display: flex;
    justify-content: center;

}
/* ------------------ Fin Estilos H de nuevo procesos ----------------------------*/ 


 /* ----------------------- Estilos DIV de nuevo procesos ----------------------- -*/ 

.main_proceso{

        div {
            display: block;
            

        h3 {
            text-decoration: underline;
            color: white;
        }

        ol li{
            list-style-position: inside;
            font-size: 23px;
        }
                
        }
        
        

}

// MAPS //

$div-proceso-tipo: (

    adhesion: solid #2e2c3f,
    actualizacion: solid #2e2c3f,
    decuento: solid #2e2c3f,
    reclamo-consumo: solid #2e2c3f,
    blanqueo: solid #2e2c3f ,
    reclamo-enre: solid #2e2c3f,

);
@each $ges, $tipo in $div-proceso-tipo {
    .#{$ges} {
        border: $tipo;
    }
    
}

//TRABAJANDO CON MIXINS

@mixin text ($centrado) {

    text-align: $centrado;
    
    
    
  }

  .main_proceso div{
    @include text(center)

  }


/* ---------------------------- FIN Estilos DIV de nuevo procesos  ----------------------------------*/ 