/* -------------------------------Estilos Pag Nuevo_proceso------------------------------------------------- */

/* -------------------- Estilos H de nuevo procesos ---------------------- -*/
.procesos_h1{
    
    text-decoration: underline;
    font-family: 'Cormorant', cursive;
    font-size: 35px; 
    margin-top: 0;
    display: flex;
    justify-content: center;

}
/* ------------------ Fin Estilos H de nuevo procesos ----------------------------*/ 


 /* ----------------------- Estilos DIV de nuevo procesos ----------------------- -*/ 

.main_proceso{

        div {
            display: block;
            text-align: center;

        h3 {
            text-decoration: underline;
        }

        ol li{
            list-style-position: inside;
        }
                
        }
        
        

}

// MAPS //

$div-proceso-tipo: (

    adhesion: solid #2e2c3f,
    actualizacion: solid #2e2c3f,
    decuento: solid #2e2c3f,
    reclamo-consumo: solid #2e2c3f,
    blanqueo: solid #2e2c3f ,
    reclamo-enre: solid #2e2c3f,

);
@each $ges, $tipo in $div-proceso-tipo {
    .#{$ges} {
        border: $tipo;
    }
    
}


/* ---------------------------- FIN Estilos DIV de nuevo procesos  ----------------------------------*/ 