/* ----------------------------- Estilos H de Tramites --------------------- */

.tramites_h1 {
    
    font-size: 60px;
    background-image: url(../Imagenes/tramites.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    margin: 0;
    height: 200px;
    padding-top: 90px;

    // Aplicando EXTEND // 

    @extend.instalaciones_h1;


       
}

/* ----------------------------- FIN Estilos H de Tramites --------------------- */


.accordion{
    background-color: $color-back;
}

.accordion-button{
    color: aliceblue;
    text-decoration:underline;

    @extend .accordion;
}



.accordion-header{
    margin: 0px;
    @extend .accordion
}



