/* ---------------------------- Estilos Generales Body ---------------------*/


.body_instalaciones{
    background-color: #1d558c;


}

.header-index{

    background-color: #1d558c;
}
.section-main{
    background-color: #1d558c;
    
}

/* ---------------------------- Estilos Generales Body ------------------------*/


/* --------------------------- Estilos barra de navegación ------------------- */

.navbar{
    padding-bottom:5px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

/* ---------------------------FIN  Estilos barra de navegación ------------------- */

/* -------------------------Estilos Generales FOOTER -----------------------*/


/* Estilos Links de FOTER */

.link_redes h3{
    
    text-align: center;
    text-decoration: underline;
    margin: 10px;
    color: white;
    

}
.link_redes div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3px;
    padding:5px;
    

}

.link_redes a{
   
    
    text-decoration: none;
    color: white;
    border: solid;
    border-radius: 4px;
    padding: 1px;
    

}

.section-footer{
    background: rgb(2,0,36);
background: linear-gradient(243deg, rgba(2,0,36,1) 0%, rgba(8,75,113,1) 25%, rgba(31,8,114,1) 38%, rgba(8,89,114,1) 53%, rgba(8,62,115,1) 67%, rgba(8,106,116,1) 85%, rgba(9,38,121,1) 100%, rgba(0,212,255,1) 100%);

border: outset 3px;
    background-color: #ced1f0;

}

/* Aplicando transiciones/transformaciones footer */

.tag_face{
    transition: .3s;
    transition-timing-function: ease;
       
}


.clase_span{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tag_tw{
    transition: .3s;
    transition-timing-function: ease;
}
.tag_oficial{
    transition: .3s;
    transition-timing-function: ease;
}
.tag_insta{
    transition: .3s;
    transition-timing-function: ease;
}

.tag_face:hover{
    transform: scale(1.1);
    
}
.tag_tw:hover{
    transform: scale(1.1);
    
}
.tag_oficial:hover{
    transform: scale(1.1);
}
.tag_insta:hover{
    transform: scale(1.1);
}





/* -------------------------FIN Estilos Generales FOOTER -----------------------*/




/*-------------------------- Estilo para los H index -----------------------------------------*/
.home_h1{
    font-family: 'Cormorant', cursive;
    font-size: 40px; 
    color: rgb(255, 255, 255);
    padding-top: 60px;
    
    
    
    
}

.home_h1{

    animation-name: h1_entrada;
    animation-iteration-count: 1;
    animation-duration: 3s;
    animation-timing-function: ease;

}

/* ANIMACIONES PARA EL H1 */

@keyframes h1_entrada {
    0%{
        transform: translateY(100px);
        opacity: 0;

    }

   
    100%{
        transform: translateY(0px);
        opacity: 1;
        

    }

}

/* -----------------------------  Estilos header INDEX ---------------------------- */

.section-1{
    display: flex;
    flex-direction: column;
     justify-content: space-between; 
    
}

.section-1 h1{
    margin-left: 40px;
}


.header-index{
    background-image: url(./Imagenes/ciudad2.jpg);
    background-repeat:no-repeat;
    background-size: 100%;
    padding-bottom: 180px;
    
    
    
    
}

.section-main .ultimasActualizaciones {
    color: rgb(255, 0, 0);
    text-decoration:underline;
     padding-left: 2px;
     margin-left: 10px;
     font-family: Arial, Helvetica, sans-serif;
 
}
/* ------------------------------Fin Estilo para los Header index -------------------------------------------*/



/* ----------------------------------- Estilos para la tabla index ----------------------------------------*/


.cuerpo-tabla{
    background-color: rgb(255, 255, 255);
}




/* ---------------------------- Fin estilos para la tabla index --------------------------------------- */

/* ---------------------------- Estilos Main del Index ----------------------------------------------*/

.descrip-pagina h2{
    margin-left: 8px;
    font-size: 20px;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 0, 0);
}

.descrip-pagina p{
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

.descrip-pagina{
    margin-left: 5px;
    
}

.section-main{
   display: flex;
   flex-direction: column;
}


/* ---------------------------- FIN Estilos Main del Index ---------------------------------------------------*/




/* -------------------------------Estilos Pag Nuevo_proceso------------------------------------------------- */

/* -------------------- Estilos H de nuevo procesos ---------------------- -*/
.procesos_h1{
    
    text-decoration: underline;
    font-family: 'Cormorant', cursive;
    font-size: 35px; 
    margin-top: 0;
    display: flex;
    justify-content: center;

}
/* ------------------ Fin Estilos H de nuevo procesos ----------------------------*/ 


 /* ----------------------- Estilos DIV de nuevo procesos ----------------------- -*/ 

.main_proceso div {
    
    border: solid;
    display: block;
    border-color: #efece9;
     text-align: center;
        
}
.main_proceso div ol li {

list-style-position: inside;



}
.main_proceso div h3 {
    text-decoration: underline;
}

/* ---------------------------- FIN Estilos DIV de nuevo procesos  ----------------------------------*/

/* ------------------------------Estilos Pag Instalaciones-------------------------------------------- */



/*-----------------------------  Estilos H de Instalaciones --------------------------------------- */
.instalaciones_h1{
text-align: center;
text-decoration: underline;

}

/* ------------------------------Estilos H de Instalaciones  ---------------------------------------*/


/* ------------------------------ Estilos imagen de Instalaciones ----------------------------------- */



.contenedor-cards{
    display: flex;
    flex-direction:column;
    align-items: end;
    margin-right: 15px;
    
    
    
}

.card{
  margin: 10px;

    
}



/* ------------------------------ FIN Estilos imagen de Instalaciones ----------------------------------- */




/* ----------------------------- Estilos Pag Tramites------------------------ */



/* ----------------------------- Estilos H de Tramites --------------------- */

.tramites_h1 {
    
    font-size: 60px;
    text-align: center;
    background-image: url(./Imagenes/tramites.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    margin: 0;
    height: 200px;
    padding-top: 90px;
       
}

/* ----------------------------- FIN Estilos H de Tramites --------------------- */


/* ----------------------------- Estilos DIV de Tramites  -------------------------*/

.cambio_titular{
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    border: solid 1px black;
    

    
}
.cambio_titular h2{
    margin: 0px;
    text-decoration: underline;
    padding: 10px;
   
    
}
.cambio_titular ul li{
    margin: 5px;
    padding: 5px;
   
    
}

.debito_auto{
    
    border: solid 1px black;
}
.debito_auto h2{
    margin: 0px;
    text-decoration: underline;
    padding: 10px;

    
}

.debito_auto ul li{
    margin: 5px;
    padding: 5px;
   
    
}

.baja_serv ul li{
    margin: 5px;
    padding: 5px;
   
    
}


.baja_serv{

    border: solid 1px black;
}
.baja_serv h2{
    margin: 0px;
    text-decoration: underline;
    padding: 10px;

    
}

/* ----------------------------- FIN  Estilos DIV de Tramites  -------------------------*/



/* -------------------------------------Estilos Pag Nosotros-------------------------------- */



/* ------------------------------------Estilos h de Nostros  ------------------------------*/

.nosotros_h1{
    
    text-decoration: underline;
    border-top: none;
    font-size: 30px; 
    margin-top: 0;
    display: flex;
    justify-content: center;

}


main h2{
    text-decoration: underline;
    margin: 20px;

}

/* ------------------------------------FIN Estilos h de Nostros  ------------------------------*/


.main-nosotros ul li {

    margin-left: 10px;
    margin-top: 10px;

    
}

.imagen-nosotros{

    width: 40%;
    
}


.h-nosotros{
  
    margin-left: 25px;
}

.main-nosotros h4{
    margin-left: 10px;
}

.row{
    
    background-color: #979ab5;  
    display:inline-block;
    
    margin: 16px;
    
}

/* -------------------------Comienzo de media queris ------------------------------------------------*/


@media screen and (min-width: 1200px) {

    /* Estilos barra de navegación */

.navbar{
    padding: 0px;
}


/* Fin Estilos barra de navegación */


/* ----------------------------------------Estilos Headrer index--------------------- */


/* Estilo para los H index */
.home_h1{
    font-family: 'Cormorant', cursive;
    font-size: 65px;
    
}

/* Estilos header */

.section-1{
    display: flex;
    flex-direction: row;  
    
}




.section-1 h1{
    margin: 160px 180px 160px 60px;
}

.ultimasActualizaciones {
    color: rgb(255, 0, 0);
    text-decoration:underline;
     padding-left: 2px;
     margin-left: 18px;
     font-family: Arial, Helvetica, sans-serif;
 
}



/* Fin Estilo para los H index---------------------------------------------------- */


/* Estilos Main del Index --------------------------------------------------------*/

.descrip-pagina h2{
    margin-left: 8px;
    font-size: 20px;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    color: rgb(255, 0, 0);
}

.descrip-pagina p{
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

.descrip-pagina{
    margin-left: 8px;
}

.section-main{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
    "div section"
;

}

main div {
    grid-area: div;
}

.descrip-pagina{
    grid-area: section;
}



.header-index{
    background-image: url(./Imagenes/ciudad2.jpg);
    background-size:cover;
    padding-bottom: 110px;
    
    
    
}


/* -------------------------Estilos FOOTER -------------------------------------------*/


/* Estilos Links de FOTER */

.link_redes h3{
    
    text-align: center;
    text-decoration: underline;
    margin: 10px;
    color: white;
    

}
.clase_span {
    display: block;
    text-align: center;
    margin: 15px;
    padding:10px;       

}

.link_redes a{
   
    margin: 10px;
    text-decoration: none;
    color: white;
    border: solid;
    border-radius: 4px;
    padding: 2px;
    

}

.section-footer{
    border: outset 3px;
    background-color: #ced1f0;
    margin-top: 0px;
    
}



/* Aplicando transiciones/transformaciones footer */


.tag_face{
    transition: .3s;
    transition-timing-function: ease;
}
.tag_tw{
    transition: .3s;
    transition-timing-function: ease;
}
.tag_oficial{
    transition: .3s;
    transition-timing-function: ease;
}
.tag_insta{
    transition: .3s;
    transition-timing-function: ease;
}

.tag_face:hover{
    transform: scale(1.1);
}
.tag_tw:hover{
    transform: scale(1.1);
}
.tag_oficial:hover{
    transform: scale(1.1);
}
.tag_insta:hover{
    transform: scale(1.1);
}

.clase_span div{
    display: inline-block;
    margin: 10px;
}


/* -------------------FIN ESTILOS FOOTER------------------ */


/* -------------------------------Nuevo_proceso------------------------------------------------- */

/* Estilos H de nuevo procesos -------------------------------------------------- */
.procesos_h1{
    
    text-decoration: underline;
    font-family: 'Cormorant', cursive;
    font-size: 35px; 
    margin-top: 0;
    display: flex;
    justify-content: center;

}
/* Fin Estilos H de nuevo procesos ----------------------------------------------*/ 


 /* Estilos DIV de nuevo procesos ------------------------------------------------*/ 

.main_proceso div {
    
    border: solid;
    display: block;
    border-color: #efece9;
    text-align: center;
        
}
.main_proceso div ol li {

list-style-position: inside;

}
.main_proceso div h3 {
    text-decoration: underline;
}

.main_proceso{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
    "proceso_h1 proceso_h1"
    "adhesion actualizacion"
    "descuento reclamo-consumo"
    "blanqueo reclamo-enre"
    
    ; 

}

.procesos_h1{
    grid-area: proceso_h1;
}
.adhesion{
    grid-area: adhesion;
}
.actualizacion{
    grid-area: actualizacion;
}
.descuento{
    grid-area: descuento;
}
.reclamo-consumo{
    grid-area: reclamo-consumo;
}
.blanqueo{
    grid-area: blanqueo;
}
.reclamo-enre{
    grid-area: reclamo-enre;
}


/* FIN Estilos DIV de nuevo procesos ------------------------------------------*/


/* ------------------------------Instalaciones-------------------------------------------- */

/* Estilos H de Instalaciones */
.instalaciones_h1{
    text-align: center;
    text-decoration: underline;

    
    }
    
    /* Estilos H de Instalaciones */
    
    
    /* Estilos imagen de Instalaciones */
 
    .contenedor-cards{
        display: flex;
        flex-direction:column;
        align-items: end;
        margin-right: 15px;
        
        
        
    }

    .card{
      margin: 10px;
   
        
    }

    /* Estilos imagen de Instalaciones ----------------------------------------------------*/
    
    

/* -------------------------------------Estilos Pag Nosotros-------------------------------- */



/* ------------------------------------Estilos h de Nostros  ------------------------------*/

.nosotros_h1{
    
    text-decoration: underline;
    border-top: none;
    font-size: 30px; 
    margin-top: 0;
    display: flex;
    justify-content: center;

}


main h2{
    text-decoration: underline;
    margin: 20px;

}

/* ------------------------------------FIN Estilos h de Nostros  ------------------------------*/


main ul li {

    margin: 8px;
    
}


.formulario{
    margin-left: 10px;
}


.formulario form div{
    display: block;
}

.h-nosotros{
    display: block;
}


}

/* FIN de media queris 1200------------------------------------------------------------------------*/


